{% extends 'grades/base.html' %}
{% block title %}Log In{% endblock %}
{% block header %}Log In{% endblock %}


{% block content %}

{% if form.errors %}
	<p>Invalid username/password. Please try again.</p>
{% endif %}

{% if next %}
	{% if user.is_authenticated %}
		<p>Your account doesn't have access to this page.</p>
	{% else %}
		<p>Please log in to see this page.</p>
	{% endif %}
{% endif %}


	<form method = "POST" action = "{% url 'grades:login' %}">
	{% csrf_token %}
		<table>
			<tr>
				<td>{{ form.username.label_tag }}&nbsp;</td>
				<td>{{ form.username }}</td>
			</tr>
			<tr>
				<td>{{ form.password.label_tag }}&nbsp;</td>
				<td>{{ form.password }}</td>
			</tr>
		</table>

		<input type = "submit" value = "Log In"/>
		<input type = "hidden" name = "next" value = "{{ next }}"/>
	</form>

{% endblock content %}