{% load static %}

<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">

<link rel = "stylesheet" href = "{% static 'grades/style.css' %}">



<title>{% block title %}{% endblock title %} - GradeView</title>
</head>

<body>

<nav class = "navbar navbar-default">
		<div class = "container-fluid">
		
		<!-- Logo -->
		<div class = "navbar-header">
			<!-- In case of mobile, display a navigation button. -->
			<button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target = "#topNavBar">
				<span class = "glyphicon glyphicon-menu-hamburger"></span>
			</button>
			<a class = "navbar-brand logo" href = "{% url 'grades:index' %}">GradeView</a>
		</div>
		
		<!-- Items -->
		<div id = "topNavBar" class = "collapse navbar-collapse">
			<ul class = "nav navbar-nav">
				<li class = "">
					<a href = "#">
						<span class = "glyphicon glyphicon-calendar" aria-hidden = "true"></span>&nbsp;
						My Courses
					</a>
				</li>
				
				<li class = "">
					<a href = "{% url 'grades:add-course' %}">
						<span class = "glyphicon glyphicon-plus" aria-hidden = "true"></span>&nbsp;
						Add Course
					</a>
				</li>
			</ul>
			
			
			<ul class = "nav navbar-nav navbar-right">
				<li class = "">
					<a href = "#">
						<span class = "glyphicon glyphicon-user"></span>&nbsp;
						My Profile
					</a>
				</li>
			</ul>
			
		</div>
		
	</nav>

<h2>{% block header %}{% endblock %}</h2>

{% block content %}
{% endblock %}
</body>

</html>