

{% extends 'grades/base.html' %}
{% block title %}{{ course.name }}{% endblock %}
{% block header %}{{ course.name }}{% endblock %}


{% block content %}
	<table class = "table table-hover">
		<thead>
		<tr>
			<th>Date</th>
			<th>Assignment</th>
			<th>Points/Total</th>
			<th>Score</th>
			<th><a href= "{% url 'grades:add-grade' course.slug %}">Add grade</a></th>
		</tr>
		<thead>
		
		<tbody>
		<tr>Homework:</tr>
		{% for homework in homeworks %}
			<tr>
				<th>{{ homework.date }}</th>
				<th>{{ homework.name }}</th>
				<th>{{ homework.points_received }}/{{ homework.total_points }}</th>
				<th>{{ homework.get_grade }}%</th>
				<th><a href = "{% url 'grades:edit-grade' homework.slug %}"><span class = "glyphicon glyphicon-pencil"></span></a></th>
				<th><a href = "{% url 'grades:delete-grade' homework.slug %}"><span class = "glyphicon glyphicon-trash"></span></a></th>
			</tr>
		{% endfor %}

		{% for quiz in quizzes %}
			<tr>Quizzes:</tr>
			<tr>
				<th>{{ quiz.date }}</th>
				<th>{{ quiz.name }}</th>
				<th>{{ quiz.points_received }}/{{ quiz.total_points }}</th>
				<th>{{ quiz.get_grade }}%</th>
				<th><a href = "{% url 'grades:edit-grade' quiz.slug %}"><span class = "glyphicon glyphicon-pencil"></span></a></th>
				<th><a href = "{% url 'grades:delete-grade' quiz.slug %}"><span class = "glyphicon glyphicon-trash"></span></a></th>
			</tr>
		{% endfor %}

		{% for exam in exams %}
			<tr>Exams:</tr>
			<tr>
				<th>{{ exam.date }}</th>
				<th>{{ exam.name }}</th>
				<th>{{ exam.points_received }}/{{ exam.total_points }}</th>
				<th>{{ exam.get_grade }}%</th>
				<th><a href = "{% url 'grades:edit-grade' exam.slug %}"><span class = "glyphicon glyphicon-pencil"></span></a></th>
				<th><a href = "{% url 'grades:delete-grade' exam.slug %}"><span class = "glyphicon glyphicon-trash"></span></a></th>
			</tr>
		{% endfor %}

		{% for project in projects %}
			<tr>Projects:</tr>
			<tr>
				<th>{{ project.date }}</th>
				<th>{{ project.name }}</th>
				<th>{{ project.points_received }}/{{ project.total_points }}</th>
				<th>{{ project.get_grade }}%</th>
				<th><a href = "{% url 'grades:edit-grade' project.slug %}"><span class = "glyphicon glyphicon-pencil"></span></a></th>
				<th><a href = "{% url 'grades:delete-grade' project.slug %}"><span class = "glyphicon glyphicon-trash"></span></a></th>
			</tr>
		{% endfor %}

		{% for o in other %}
			<tr>Other assignments:</tr>
			<tr>
				<th>{{ o.date }}</th>
				<th>{{ o.name }}</th>
				<th>{{ o.points_received }}/{{ o.total_points }}</th>
				<th>{{ o.get_grade }}%</th>
				<th><a href = "{% url 'grades:edit-grade' o.slug %}"><span class = "glyphicon glyphicon-pencil"></span></a></th>
				<th><a href = "{% url 'grades:delete-grade' o.slug %}"><span class = "glyphicon glyphicon-trash"></span></a></th>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock content %}