{% extends 'grades/base.html' %}
{% block title %}Editing {{ grade.name }}{% endblock %}
{% block header %}{{ grade.name }}{% endblock %}

{% block content %}

	<form class = "form-horizontal" action = "" method = "POST" enctype = "multipart/form-data">
	{% csrf_token %}
		<p>Course: {{ form.course }}</p>
		<p>Date: {{ form.date }}</p>
		<p>Type: {{ form.type }}</p>
		<p>Name: {{ form.name }}</p>
		<p>Points/Total: {{ form.points_received }}/{{ form.total_points }}</p>
	
	<div class = "form-group">
		<div class = "col-sm-offset-2 col-sm-10">
			<button type = "submit" class = "btn btn-success">Submit</button>
		</div>
	</div>
	</form>

{% endblock content %}