{% extends 'grades/base.html' %}
{% block title %}Editing {{ grade.name }}{% endblock %}
{% block header %}{{ grade.name }}{% endblock %}

{% block content %}

	<form class = "form-horizontal" action = "" method = "POST" enctype = "multipart/form-data">
	{% csrf_token %}
	{% for field in form %}
		<h4>{{ field.label }}</h4>
		<p>{{ field }}</p>
	{% endfor %}
	
	<div class = "form-group">
		<div class = "col-sm-offset-2 col-sm-10">
			<button type = "submit" class = "btn btn-success">Submit</button>
		</div>
	</div>
	</form>

{% endblock content %}