{% extends 'grades/base.html' %}

{% block title %}Delete Grade {{ grade.name }}{% endblock %}

{% block header %}{{ grade.name }}{% endblock %}

{% block content %}

	<form action = "" method= "POST">
	{% csrf_token %}
		<p>Are you sure you want to delete "{{ grade.name }}"?</p>
		<input type = "submit" value = "Confirm"/>
	</form>

{% endblock content %}