{% extends 'grades/base.html' %}
{% block title %}Home{% endblock %}
{% block header %}Courses{% endblock %}


{% block content %}
	<ul>
	{% for course in course_list %}
		<li><a href = "{% url 'grades:course' course.course_id %}">{{ course }} - {{ course.get_grade }}%</a></li>
	{% endfor %}
	</ul>
{% endblock content %}